.dashboard-nav-root {
    background-color: #122605;
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    border-top: 1px solid #777777;
    border-bottom: 1px solid #777777;
    margin: 0;
    padding: 10px 0;
}

.dashboard-nav-btn {
    margin: 0 1rem;
}
