.display-layout-root {
    margin: 0;
    padding: 0;
    /* width: 100vw;
    height: 100vh; */
    /* background-color: #0f0; */
}

.display-layout-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.display-layout-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.chart-layout {
    /* width: 40vw; */
    /* height: 100vh; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.map-layout {
    width: 50vw;
    /* height: 100%; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
