.root {
    height: 100%;
    display: flex;
    flex-direction: column;
    font: 16px Roboto, sans-serif;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-selectors {
    z-index: 1000;
}

.display-layout {
    z-index: auto;
}