.display-layout-root {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.display-layout-map,
.display-layout-chart  {
    min-height: 80vh;
    height: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.display-layout-map {
    width: 60vw;
    border-right: 1px solid #000000;
}
.display-layout-chart {
    width: 40vw;
    background-color: #eeeeee;
}