.report-instructions * {
  /* font-family: var(--font-type-roboto); */
  margin: 0.5rem;
}
.report-instructions {
  margin: 2rem 0.5rem;
  border-top: 1px solid var(--color-gray);
  padding: 1rem 0 0;
  /* text-align: center; */
}
.report-instructions-title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-heavy);
  color: var(--color-gray-light);
}
.report-instructions-subtitle {
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal-plus);
  color: var(--color-gray-light);
}
.report-instructions-description {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  color: var(--color-gray-light);
}
.report-instructions-steps-group * {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-light);
  color: var(--color-gray-light);
}
/* .report-instructions-steps-group {
}
.report-instructions-step {
} */
.report-instructions-footer {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-x-light);
  color: var(--color-gray-light);
}
