.chart-diagram-1cbc {
    /* background-color: #0099ff; */
    width: 100%;
    height: 100%;
}

.chart-diagram-2cbc {
    /* background-color: #0099ff; */
    width: 100%;
    height: 100%;
}


.chart-diagram-3cbc {
    /* background-color: #0099ff; */
    width: 100%;
    height: 100%;
}


.chart-diagram-1fc {
    /* background-color: #ff9900; */
    width: 100%;
    height: 100%;
}
