.chart-instructions * {
  font-family: var(--font-type-roboto-condensed);
}
.chart-instructions {
  margin: 2vh 0 0 2vw;
}
.chart-instructions-label,
.chart-description-label {
  margin: 1vh 0;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-heavy);
  color: var(-color-gray);
}
