.chart-instructions * {
  font-family: 'Roboto Condensed', sans-serif;
}
.chart-instructions {
  margin: 2vh 0 0 2vw;
}
.chart-instructions-label,
.chart-description-label {
  margin: 1vh 0;
  font-size: 1.2rem;
  font-weight: 700;
  color: #777777;
}
