
.stacked-bar-chart {
  width: 100%;
  height: 100%;
}

.chart-layout {
  margin: 1rem;
  padding: 1rem 2rem;
  background-color: #ffffff;
  border: 2px solid #333333;
  border-radius: 0.3rem;
}

/* .chart-layout * {} */

.chart-header {
  margin-bottom: 1rem;
}

.chart-header hr {
  border-bottom: 1px solid #000000;
}

/* .chart-info {} */

.chart-info-item {
  display: flex;
  justify-content: space-between;
}

.chart-info-title,
.chart-info-subtitle,
.chart-links {
  font-weight: 700;
  color: #aaaaaa;
}

.chart-info-title {
  font-size: 2rem;
}

.chart-info-value {
  font-size: 2rem;
  font-weight: 700;
  color: #000000;
}

.chart-info-subtitle {
  font-size: 1.4rem;
}

/* .chart-body {} */

/* .chart-body-plot {} */

.chart-footer {
  margin: 2rem 0 0;
}

.chart-links {
  font-size: 1.4rem;
  line-height: 100%;
}

.chart-link-item a:before {
  content: '\00a0 ';
}
.chart-link-item a {
  color: #002200;
}
.chart-link-item a:visited {
  color: #000000;
}
