.demographics-map {
  margin: 2vh 1vw;
}
.temp-message {
  text-align: center;
}
/* .maltreatment-map {} */
.debug-data-table tr th,
.debug-data-table tr td {
  border: 1px solid hsl(0, 0%, 0%);
  padding: 0.2vh 1vw;
  text-align: center;
}
.debug-data-table tr th {
  background: #dedede;
}
.debug-status {
  font-weight: 700;
  color: #900;
}
.debug-header {
  margin: 1vh 0;
  font-weight: 600;
}
.chart-layout {
  margin: 1vh 1vw;
}
/* .chart-header {} */
.chart-header hr {
  border-bottom: 1px solid #000000;
}
.chart-info {
  border-bottom: 1px solid #222222;
  /* padding: 0 0 0.5vw; */
}
.chart-info-item {
  display: flex;
  /* justify-content: left; */
  justify-content:space-between; 
}
.chart-info-title,
.chart-info-subtitle {
  color: #777777;
}
/* .chart-info-title,
.chart-info-value {} */
/* .chart-info-title {} */
.chart-info-value {
  font-weight: 700;
  color: #000000;
}
.chart-info-table tr td {
  padding: 0 0.5vw;
}
.chart-info-table tr td:last-child {
  font-weight: 700;
}
.selected-map,
.selected-area,
.selected-year {
  margin: 0 0 1vh;
  padding: 0 0.2vw 0.5vh;
  border-bottom: 1px solid #333333;
}
.selected-map-label,
.selected-area-label,
.selected-year-label {
  font-weight: 600;
  color: #777777;
}

.selected-region,
.aggregated-count {
  /* height: 5rem; */
  display: inline;
  margin: 0.5vh 0.5vw;
  text-align: center;
}
.aggregated-count {
  border-left: 1px solid #333333;
}
.selected-region-label,
.aggregated-count-label {
  color: #777777;
}
.selected-region-label,
.aggregated-count-label {
  margin-left: 2rem;
  font-weight: 600;
}
.selected-region-value,
.aggregated-count-value {
  margin-left: 1rem;
  font-size: 3rem;
  font-weight: 900;
}
.chart-filters {
  border-bottom: 1px solid #777777;
  padding: 1vh 0;
  font-weight: 600;
  color: #777777;
}
.chart-filters-list {
  margin-top: 0.5vw;
  color: #000000;
}
/* .chart-body {} */
/* .chart-body-plot {} */
.chart-footer {
  margin: 0.5vh 0 0;
  border-top: 1px solid #222222;
  padding-top: 1vh;
  text-align: center;
  font-size: 0.8rem;
}
.chart-summary:after {
  content: '\00a0 ';
}
.selected-type-value,
.selected-type {
  font-weight: 600;
}
.selected-type-summary {
  font-weight: 900;
}
.selected-type:not(:last-child):after,
.selected-type-summary:not(:last-child):after {
  font-weight: normal;
  content: ', ';
}
.chart-summary .selected-type-summary:last-child:not(:only-child):before {
  font-weight: normal;
  content: ' and ';
}
.selected-type:last-child:not(:only-child):after,
.selected-type-summary:last-child:not(:only-child):after {
  font-weight: normal;
  content: '.';
}
