@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

.main-chart * {
  /* Use !important to override the plotly font settings in charts. */
  /* font-family: 'Open Sans Condensed', sans-serif !important; */
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 100%;
}

.chart-message {
  margin: 1rem;
  min-width: 35vw;
}

/* .chart-diagram {} */
