@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

/* Use !important to override the plotly font settings in charts. */
/* font-family: 'Open Sans Condensed', sans-serif !important; */

.main-chart * {
  font-family: 'Open Sans', sans-serif;
  line-height: 100%;
}

.chart-message * {
  font-family: 'Open Sans', sans-serif;
  margin: 1rem;
}

.chart-message-text {
  font-weight: 500;
}

.debug-info {
  margin: 1rem;
}

.debug-info * {
  line-height: 1.5rem;
}