.maltreatment-types-plot {
  font-family: 'Roboto Condensed', sans-serif;
}
.maltreatment-types-plot-layout {
  margin: 1vh 1vw;
}
.maltreatment-types-plot-header {
}
.maltreatment-types-plot-info {
  border-bottom: 1px solid #222222;
}
.maltreatment-types-plot-info-item {
  display: flex;
  justify-content: space-between;
}
.maltreatment-types-plot-selected-map,
.maltreatment-types-plot-selected-area,
.maltreatment-types-plot-selected-year {
  margin: 0 0 1vh;
  padding: 0 0.2vw 0.5vh;
  border-bottom: 1px solid #333333;
}
.maltreatment-types-plot-selected-map-label,
.maltreatment-types-plot-selected-area-label,
.maltreatment-types-plot-selected-year-label {
  font-weight: 600;
  color: #777777;
}
.maltreatment-types-plot-selected-region,
.maltreatment-types-plot-aggregated-count {
  display: inline;
  margin: 0.5vh 0.5vw;
  text-align: center;
}
.maltreatment-types-plot-aggregated-count {
  border-left: 1px solid #333333;
}
.maltreatment-types-plot-selected-region-label,
.maltreatment-types-plot-aggregated-count-label {
  color: #777777;
}
.maltreatment-types-plot-selected-region-label,
.maltreatment-types-plot-aggregated-count-label {
  margin-left: 2rem;
  font-weight: 600;
}
.maltreatment-types-plot-selected-region-value,
.maltreatment-types-plot-aggregated-count-value {
  margin-left: 1rem;
  font-size: 3rem;
  font-weight: 900;
}
.maltreatment-types-plot-chart-filters {
  padding: 1vh 0;
  font-weight: 600;
  color: #777777;
}
.maltreatment-types-plot-chart-filters-list {
  margin-top: 0.5vw;
  color: #000000;
}
.maltreatment-types-plot-chart-footer {
  margin: 0.5vh 0 0;
  padding-top: 1vh;
  text-align: center;
  font-size: 0.8rem;
  line-height: 2vh;
}
.maltreatment-types-plot-chart-summary:after {
  content: '\00a0 ';
}
.maltreatment-types-plot-selected-type-value,
.maltreatment-types-plot-selected-type {
  font-weight: 600;
}
.maltreatment-types-plot-selected-type-summary {
  font-weight: 900;
}
.maltreatment-types-plot-selected-type:not(:last-child):after,
.maltreatment-types-plot-selected-type-summary:not(:last-child):after {
  font-weight: normal;
  content: ', ';
}
.maltreatment-types-plot-selected-type:last-child:not(:only-child):after,
.maltreatment-types-plot-selected-type-summary:last-child:not(:only-child):after {
  font-weight: normal;
  content: '.';
}
