.maltreatment-types-plot {
  font-family: var(--font-type-roboto-condensed);
  width: 100%;
}
.maltreatment-types-plot-layout {
  margin: 0 0.5vw;
}
.maltreatment-types-plot-info {
  border-bottom: 1px solid var(--color-gray-very-dark);
}
.maltreatment-types-plot-info-region {
  min-height: 4.5rem;
  display: flex;
}
.maltreatment-types-plot-selected-map-label,
.maltreatment-types-plot-selected-area-label,
.maltreatment-types-plot-selected-year-label {
  font-weight: var(--font-weight-normal-plus);
  color: var(--color-gray);
}
.maltreatment-types-plot-selected-region,
.maltreatment-types-plot-aggregated-count {
  display: inline;
  margin: 1vh;
}
.maltreatment-types-plot-selected-region {
  width: 50%;
  text-align: right;
}
.maltreatment-types-plot-aggregated-count {
  text-align: left;
  border-left: 1px solid var(--color-gray-dark);
}
.maltreatment-types-plot-selected-region-label,
.maltreatment-types-plot-aggregated-count-label {
  color: var(--color-gray);
}
.maltreatment-types-plot-selected-region-label,
.maltreatment-types-plot-aggregated-count-label {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal-plus);
}
.maltreatment-types-plot-selected-region-value,
.maltreatment-types-plot-aggregated-count-value {
  margin: 0 1vw;
  font-size: calc(var(--font-size-normal) * 2.2);
  font-weight: var(--font-weight-x-heavy);
}
.maltreatment-types-plot-selected-region-code {
  font-size: var(--font-size-sm);
  font-style: italic;
}
.maltreatment-types-plot-info-chart {
  min-height: 4rem;
  margin: 0.5vh 1vw;
  font-size: var(--font-size-sm);
  line-height: 2vh;
}
.maltreatment-types-plot-selected-type-value,
.maltreatment-types-plot-selected-type {
  font-weight: var(--font-weight-heavy);
}
.maltreatment-types-plot-selected-type-summary {
  font-weight: var(--font-weight-x-heavy);
}
.maltreatment-types-plot-selected-type:not(:last-child)::after,
.maltreatment-types-plot-selected-type-summary:not(:last-child)::after {
  font-weight: var(--font-weight-normal);
  content: ', ';
}
.maltreatment-types-plot-chart-summary,
.maltreatment-types-plot-selected-type-summary:last-child:not(:only-child)::before {
  font-weight: var(--font-weight-normal);
  content: ' and ';
}
.maltreatment-types-plot-chart {
  margin: 0 0.5vw;
}
