.observed-features-plot {
  font-family: var(--font-type-roboto-condensed);
}
.observed-features-plot-layout {
  margin: 1vh 1vw;
}
.observed-features-plot-header {
}
.observed-features-plot-info {
  border-bottom: 1px solid var(--color-gray-very-dark);
}
.observed-features-plot-info-item {
  display: flex;
  justify-content: space-between;
}

.observed-features-plot-selected-region,
.observed-features-plot-aggregated-count,
.observed-features-plot-selected-feature {
  display: inline;
  margin: 0.5vh 0.5vw;
}
.observed-features-plot-selected-region {
  width: 60%;
}
.observed-features-plot-aggregated-count {
  width: 40%;
}
.observed-features-plot-aggregated-count {
  border-left: 1px solid var(--color-gray-dark);
}
.observed-features-plot-selected-region-label,
.observed-features-plot-aggregated-count-label,
.observed-features-plot-selected-feature-label {
  color: var(--color-gray);
}
.observed-features-plot-selected-region-label,
.observed-features-plot-aggregated-count-label,
.observed-features-plot-selected-feature-label {
  margin-left: 2rem;
  font-weight: var(--font-weight-normal-plus);
}
.observed-features-plot-selected-region-value,
.observed-features-plot-aggregated-count-value {
  margin-left: 1rem;
  font-size: calc(var(--font-size-normal) * 3);
  font-weight: var(--font-weight-x-heavy);
}
.observed-features-plot-selected-feature-value {
  margin-left: 1rem;
  font-size: calc(var(--font-size-normal) * 1.2);
  font-weight: var(--font-weight-x-heavy);
}
.observed-features-plot-selected-region-code {
  margin-left: 1rem;
  font-style: italic;
}

.observed-features-plot-placeholder-text {
  font-weight: var(--font-weight-light);
}
.observed-features-plot-placeholder-emphasis {
  color: var(--color-blood-orange);
}
.observed-feature-selection-label {
  font-weight: var(--font-weight-normal-plus);
}
.observed-features-plot-chart-body,
.observed-features-plot-chart-body-plot {
  height: 60vh;
  width: 45vw;
}
