.observed-features-plot {
  font-family: 'Roboto Condensed', sans-serif;
}
.observed-features-plot-layout {
  margin: 1vh 1vw;
}
.observed-features-plot-header {
}
.observed-features-plot-info {
  /* border-bottom: 1px solid #222222; */
}
.observed-features-plot-placeholder-text {
  font-weight: 400;
}
.observed-features-plot-placeholder-emphasis {
  color: #772211;
}
.observed-feature-selection-label {
  font-weight: 600;
}
