.data-error-message {
  margin: 1rem;
  text-align: center;
  font-weight: 700;
  color: var(--color-blood-orange);
}
.loading-spinner {
  margin-top: 40%;
}
.predictive-features-plot-root {
  font-family: var(--font-type-roboto-condensed);
  width: 100%;
}
.predictive-features-plot-layout {
  margin: 0 0.5vw;
}
.predictive-features-plot-info {
  border-bottom: 1px solid var(--color-gray-very-dark);
}
.predictive-features-plot-info-region {
  min-height: 4.5rem;
  display: flex;
}
.predictive-features-plot-selected-region {
  display: inline;
  margin: 1vh;
  width: 100%;
  text-align: center;
}
.predictive-features-plot-selected-region-label,
.predictive-features-plot-selected-feature-label {
  font-weight: var(--font-weight-normal-plus);
  color: var(--color-gray);
}
.predictive-features-plot-selected-feature-value {
  margin-left: 1rem;
  font-size: calc(var(--font-size-normal) * 1.2);
  font-weight: var(--font-weight-x-heavy);
}
.predictive-features-plot-selected-region-value {
  margin: 0 1vw;
  font-size: calc(var(--font-size-normal) * 2.2);
  font-weight: var(--font-weight-x-heavy);
}
.predictive-features-plot-selected {
  text-align: center;
  border-bottom: 1px solid var(--color-gray-very-dark);
}
.predictive-features-plot-selected-feature {
  margin: 0.5vh;
}
.predictive-features-plot-selected-feature-value {
  margin-left: 1rem;
  font-size: calc(var(--font-size-normal) * 1.2);
  font-weight: var(--font-weight-x-heavy);
}
.predictive-features-plot-info-summary {
  margin: 0.8vh 1vw 0.5vh;
  text-align: center;
  font-size: var(--font-size-xs);
  line-height: 2vh;
  font-style: italic;
}
.predictive-features-plot-chart {
  margin: 0 0.5vw;
}
