.predictive-features-plot {
  font-family: var(--font-type-roboto-condensed);
  width: 100%;
}
.predictive-features-plot-layout {
  margin: 1vh 1vw;
}
.predictive-features-plot-info {
  /* border-bottom: 1px solid var(--color-gray-very-dark); */
}
.predictive-features-plot-placeholder-text {
  font-weight: var(--font-weight-normal-plus);
}
.predictive-features-plot-placeholder-emphasis {
  color: var(--color-blood-orange);
}
