.feature-table * {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.8rem;
}
sup {
  font-style: italic;
  font-weight: 700;
  color: rgb(100, 255, 150);
}
.feature-table-chart,
.feature-table-chart-selection {
  font-weight: 600;
}
.feature-table-chart {
  margin: 1vh 1vw 3.7vh;
}
.feature-table-chart-selection {
  margin: 1vh 1vw;
}
.feature-table-chart tr th,
.feature-table-chart tr td,
.feature-table-chart-selection tr th,
.feature-table-chart-selection tr td {
  border-bottom: 1px solid #000000;
  padding: 0.5vh 0.2vw;
  text-align: center;
}
.feature-table-chart-selection tr:nth-child(odd),
.feature-table-chart tr:nth-child(odd) {
  background-color: #efefef;
}
.feature-table-chart-selection tr th,
.feature-table-chart tr th {
  font-size: 0.9rem;
  line-height: 2vh;
  background-color: #222222;
  color: #ffffff;
}
.feature-table-chart-selection tr th.ensemble-rank-label,
.feature-table-chart tr th.ensemble-rank-label {
  color: rgb(222, 166, 255) !important;
}
.feature-table-chart-selection tr td.ensemble-rank-value,
.feature-table-chart tr td.ensemble-rank-value {
  background-color: rgba(222, 166, 255, 0.2);
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.feature-table-chart-selection tr td:first-child,
.feature-table-chart tr td:first-child {
  padding-left: 2vw;
  text-align: left;
}
.feature-table-chart-label {
  width: 37%;
}
.feature-table-chart-cell {
  width: 12%;
}
.feature-table-selected-feature td {
  background-color: rgb(20, 50, 80);
  color: rgb(80, 220, 255);
}
.feature-table-selected-feature td.ensemble-rank-value {
  background-color: rgb(80, 50, 100) !important;
  color: rgb(255, 180, 0);
}
.feature-table-info * {
  font-weight: 400;
}
.feature-table-info,
.feature-table-information {
  margin: 1vh 1vw;
}
.feature-table-info {
  margin-top: 1vh;
  border: 1px solid #000000;
  border-left: 3px solid #000000;
  border-right: 3px solid #000000;
}
.feature-table-annotation {
  margin: 0;
  padding: 0.5vh 0.5vw;
  background-color: rgba(100, 200, 150, 0.1);
}
.feature-table-annotation-prefix,
.feature-table-annotation-text {
  margin-right: 0.2vw;
}
.feature-table-annotation-prefix {
  font-weight: 600;
  font-style: italic;
}
