@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

/* .report-chart {} */
.feature-table *,
.report-chart-message * {
  font-family: 'Open Sans Condensed', sans-serif;
}
.feature-table * {
  font-size: 0.8rem;
}
sup {
  font-style: italic;
}
.feature-table-chart {
  margin: 1vh 1vw;
  font-weight: 600;
}
.feature-table-chart tr th,
.feature-table-chart tr td {
  border-bottom: 1px solid #000000;
  padding: 0.5vh 0.2vw;
  text-align: center;
}
.feature-table-chart tr:nth-child(odd) {
  background-color: #efefef;
}
.feature-table-chart tr th {
  background-color: #efefff;
  border: 1px solid #000000;
}
.feature-table-chart tr td:first-child {
  padding-left: 1vw;
  text-align: left;
}
.feature-table-chart-label {
  width: 37%;
}
.feature-table-chart-cell {
  width: 12%;
}
.feature-table-info * {
  font-weight: 400;
}
.feature-table-info,
.feature-table-description,
.feature-table-information,
.feature-table-annotation {
  margin: 1vh 1vw;
}
.report-chart-message {
  margin: 2vh 0 0 2vw;
}
.report-chart-message-note {
  font-weight: 700;
  color: #772211;
}
