@import '~leaflet/dist/leaflet.css';

.color {
  padding: 1rem 1rem 0.5rem;
  border: 1px solid var(--color-black);
  background: var(--color-white-transparent);
}
.legend {
  line-height: 10px;
}

.legend-title{
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal-plus);
  width: 100px;
  text-align: center;
  padding-bottom: 10px;
  line-height: 16px;
}

.scale-value * {
  vertical-align: sub;
}
.scale-value i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
  border: 1px solid var(--color-black);
}
.scale-value span {
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-xs);
}
